<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/pca-js@1.0.0/pca.min.js"></script>

        <script type="text/javascript" src="plot_data.js" charset="UTF-8"></script>
        <script type="text/javascript" src="graph.js" charset="UTF-8"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 
       <!--Import Google Icon Font-->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
       <!--Let browser know website is optimized for mobile-->
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="app">
            <div class="row">
                <nav>
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo">VSinger可視化ツール(仮)</a>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col s10 offset-s1">
                 <div class="chips"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1">
                 <div class="chips_songs"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l6 xl4">
                    <h5>検索結果(Vsinger基準)</h5>
                    <div class="divider"></div>
                    <div class="row">
                        <form action="#" style="display: inline;" id="search-type">
                            <label>
                                <input class="with-gap" name="group1" type="radio" checked v-on:change="$forceUpdate()"/>
                                <span>全員が歌っている曲</span>
                            </label>
                            <label>
                                <input class="with-gap" name="group1" type="radio" v-on:change="$forceUpdate()"/>
                                <span>50%以上</span>
                            </label>
                            <label>
                                <input class="with-gap" name="group1" type="radio" v-on:change="$forceUpdate()"/>
                                <span>25%以上</span>
                            </label>
                            <label>
                                <input  class="with-gap" name="group1" type="radio" v-on:change="$forceUpdate()"/>
                                <span>1人以上</span>
                            </label>
                        </form>
                    </div>

                    <div class="col s6 m4 l6 card" v-for="video in getSearchResult()">
                        <div class="card-title">
                            <span class="truncate flow-text" >{{ video.song }}</span>
                        </div>
                        <span class="flow-text">被選択率: {{ video.popularity}}%</span>
                        <div v-if="selected_video_id == video.video_id" class="col s12">
                            <div class="video-container">
                                <iframe  width="320" height="180" :src='`https://www.youtube.com/embed/${selected_video_id}?autoplay=1`' frameborder="0"></iframe>
                            </div>
                        </div>
                        <img v-else class="responsive-img col s12" :src='`https://i.ytimg.com/vi/${video.video_id}/mqdefault.jpg`'
                                v-on:click="selected_video_id = video.video_id" style="cursor: pointer">
                    </div>
                </div>
                <div class="col s12 l6 xl8">
                    <h5>分析結果</h5>
                    <div class="divider"></div>
                    <div class="col s12 xl6">
                        <div class="card">
                            <div class="card-title">
                                近いvsinger(Vsinger基準)
                            </div>
                            <div class="card-image">
                                <svg viewbox="0 0 600 600">
                                    <g v-for="(singer, index) in getNearestSingers()">
                                        <text v-if="index < 20" :x="10" :y="20*index + 20">{{ singer.name }}</text>
                                        <rect v-if="index < 20" x="140" :y="20*index + 7" :width="380*singer.simirarity" height="10"></rect>
                                        <text v-if="index < 20" :x="530" :y="20*index + 20">{{ Math.round(singer.simirarity*10000)/10000 }}</text>        

                                        <text v-if="index >= 20" :x="10" :y="20*index + 20 + 40"> {{ singer.name }} </text>
                                        <rect v-if="index >= 20" x="140" :y="20*index + 7 + 40" :width="380*singer.simirarity" height="10"></rect>
                                        <text v-if="index >= 20" :x="530" :y="20*index + 20 + 40">{{ Math.round(singer.simirarity*10000)/10000 }}</text>        
                                    </g>
                                    <text :x="50" :y="20*21 + 10"> : </text>
                                    <text :x="550" :y="20*21 + 10"> : </text>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 xl6">
                        <div class="card">
                            <div class="card-title">
                                近いvsinger(楽曲基準)
                            </div>
                            <div class="card-image">
                                <svg viewbox="0 0 600 600">
                                    <g v-for="(singer, index) in getNearestSingersFromSong()">
                                        <text v-if="index < 20" :x="10" :y="20*index + 20">{{ singer.name }}</text>
                                        <rect v-if="index < 20" x="140" :y="20*index + 7" :width="380*singer.simirarity" height="10"></rect>
                                        <text v-if="index < 20" :x="530" :y="20*index + 20">{{ Math.round(singer.simirarity*10000)/10000 }}</text>        

                                        <text v-if="index >= 20" :x="10" :y="20*index + 20 + 40"> {{ singer.name }} </text>
                                        <rect v-if="index >= 20" x="140" :y="20*index + 7 + 40" :width="380*singer.simirarity" height="10"></rect>
                                        <text v-if="index >= 20" :x="530" :y="20*index + 20 + 40">{{ Math.round(singer.simirarity*10000)/10000 }}</text>        
                                    </g>
                                    <text :x="50" :y="20*21 + 10"> : </text>
                                    <text :x="550" :y="20*21 + 10"> : </text>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 xl6">
                        <div class="card">
                            <div class="card-title">
                                VSingerプロット(選択中のVSinger間)
                            </div>
                            <div class="card-image">
                                <svg viewbox="0 0 800 800">
                                    <line x1=400 y1=0 x2=400 y2=800 stroke="black"></line>
                                    <line x1=0 y1=400 x2=800 y2=400 stroke="black"></line>

                                    <g v-for="pos_info in dist2vec(singer_list)">
                                        <text :x="(pos_info.posX+1)*400-40" :y="(-pos_info.posY+1)*400-10">{{ pos_info.singer }}</text>
                                        <circle v-if="isSinging(pos_info.singer)" :cx="(pos_info.posX+1)*400" :cy="(-pos_info.posY+1)*400" r=5 fill="red"></circle>
                                        <circle v-else :cx="(pos_info.posX+1)*400" :cy="(-pos_info.posY+1)*400" r=5></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 xl6">
                        <div class="card">
                            <div class="card-title">
                                VSingerプロット(全員）
                            </div>
                            <div class="card-image">
                                <svg viewbox="0 0 800 800">
                                    <line x1=400 y1=0 x2=400 y2=800 stroke="black"></line>
                                    <line x1=0 y1=400 x2=800 y2=400 stroke="black"></line>
                                    <g v-for="pos_info in pca_vec_all">
                                        <text :x="(pos_info.posX+1)*400-40" :y="(-pos_info.posY+1)*400-10">{{ pos_info.singer }}</text>
                                        <circle v-if="isSinging(pos_info.singer)" :cx="(pos_info.posX+1)*400" :cy="(-pos_info.posY+1)*400" r=5 fill="red"></circle>
                                        <circle v-else :cx="(pos_info.posX+1)*400" :cy="(-pos_info.posY+1)*400" r=5></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
